*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite DE SAS Guides", cursive;
}

nav div a 
{
    text-decoration: none;
     color: white;
     /* background-color: blueviolet; */
     padding: 5px;
}

nav div 
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 40px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a:hover
{
    color: red;
}
nav div li:last-child a
{
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 10px;
}
nav div li:last-child a:hover
{
    color: rgb(0, 179, 255);
    background-color: rgb(230, 186, 170);
}

nav div h2
{
    color: white
}
.active
{
    text-decoration: underline rgb(211, 22, 22) double;
}

.hero
{
    background-color: aquamarine; 
    height: 90vh;
    background: url('../images/Banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.hero button
{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.hero button:hover
{
    background-color: darkred;
}

.video-section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 50px;
}
.video-text
{
    flex: 1;
}

.video-box
{
    flex: 1 ;
}
.video-box video
{
    width: 100%;
    border-radius: 25px;

}

.video-text h2
{
    font-size: 50px;
    margin-bottom: 20px;
}

.video-text p
{
    font-size: 19x;
    color: gray;
}
.about
{
    text-align: center;
             /*tb  lr */
    padding: 60px 20px;
    background-color: #f5e2ef;
}

.about h2
{
    font-size: 32px;
    margin-bottom: 20px;
    color: rgba(255, 0, 0, 0.615);
}

.about p
{
     max-width: 700px; 
    /* background-color: turquoise; */
    color: blue;
    font-size: 18px;
    line-height: 1.6;
    margin: auto;
}
.card
{
    /* background-color: aqua; */
    /* border: 2px solid  black; */
    padding: 15px;
    text-align: center;
            /*horizontal vertical blur spread shadowcolor*/
    box-shadow: 10px 10px 10px 0px gray;
    border-radius: 10px;
}

.card img
{
    width: 100%;
}
.menu-container
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    border: 2px solid  black;
    padding: 20px;
}
.card button
{
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.card button:hover
{
    background-color: darkred;
}
.icon-box
{
    min-width: 100px;
    text-align: center;
    cursor: pointer;
   
}
.icon-box img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgb(227, 191, 125);
    padding: 5px;
}
.category-icons
{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.icon-box p
{
    margin-top: 8px;
    font-size: 16px;
}

.icon-box img:hover
{
    transform: scale(1.1);
    border-color: black;
     transition: 0.5s;
}
header
{
    position: sticky;
    top: 0px;
    z-index: 100;
}
table
{
    width: 70%;
    border-collapse: collapse;
    background-color: burlywood;
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
}
thead
{
    background-color: red;
    color: white;
}
th , td
{
    text-align: center;
    padding: 20px;
}
tbody tr
{
    border-bottom: 1px solid #c37676;

}


.item
{
    display: flex;
    align-items: center;
    gap: 16px;
}

.item img
{
    width:70px ;
    height: 70px;
    border-radius:15px ;
}
.remove
{
    background-color: red;
    border: none;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
}
.remove:hover
{
    background-color: darkred;
}
.grand-total td
{
    font-weight: bold;
    font-size: 18px;
}
.grand-total button
{
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.grand-total button:hover
{
    background-color: darkred;
}
.qty-box
{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.qty-box button
{
    width: 28px;
    height: 28px;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.qty-box button:hover
{
    background-color: darkred;
}
.qty-box span
{
    font-size: 16px;
    font-weight: bold;
    min-width: 20px;
}


